################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#Binaries
**/bin/
!vendor/premake/bin/

!vendor/premake/bin/

# Directories
/.vs/Nu/
bin/
bin-int/

# Nu files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
Nu/vendor/VulkanSDK
Nu-Editor/assets/cache
scripts/__pycache__

# Files
*.user
/Sandbox/NuProfile-Runtime.json
/Sandbox/NuProfile-Shutdown.json
/Sandbox/NuProfile-Startup.json
/Nu-Editor/NuProfile-Runtime.json
/Nu-Editor/NuProfile-Shutdown.json
/Nu-Editor/NuProfile-Startup.json
