################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Binaries
**/bin/
bin-int/
Intermediates/
!vendor/premake/bin/

# Nu files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Nu/vendor/VulkanSDK
Nu-Editor/assets/cache
scripts/__pycache__


# Profiling Files
*.user
/Sandbox/NuProfile-Runtime.json
/Sandbox/NuProfile-Shutdown.json
/Sandbox/NuProfile-Startup.json
/Nu-Editor/NuProfile-Runtime.json
/Nu-Editor/NuProfile-Shutdown.json
/Nu-Editor/NuProfile-Startup.json


# ?
/.vs/Nu/
bin/