[submodule "Nu/vendor/spdlog"]
	path = Nu/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "Nu/vendor/GLFW"]
	path = Nu/vendor/GLFW
	url = ../../TheCherno/glfw.git
	branch = master
[submodule "Nu/vendor/imgui"]
	path = Nu/vendor/imgui
	url = ../../TheCherno/imgui.git
	branch = docking
[submodule "Nu/vendor/glm"]
	path = Nu/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
[submodule "Nu/vendor/yaml-cpp"]
	path = Nu/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "Nu/vendor/ImGuizmo"]
	path = Nu/vendor/ImGuizmo
	url = https://github.com/thecherno/imguizmo
[submodule "Nu/vendor/Box2D"]
	path = Nu/vendor/Box2D
	url = https://github.com/thecherno/box2d
